:root {
  --header-background: #f9f7fe;
  --contend-color: #272142;
  --title-family-font: "Playfair Display", serif;
  --button-background-color: #6c63ff;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  text-align: center;
  background-color: var(--header-background);
  padding: 250px 30px;
}

h1 {
  font-family: var(--title-family-font);
  font-size: 96px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: var(--title-family-font);
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

p {
  font-size: 14px;
}

header h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--contend-color);
  line-height: 100%;
  margin: 50px;
}

header p {
  font-size: 36px;
  font-weight: 700;
}

.btn-header {
  background-color: var(--button-background-color);
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.btn-apps {
  background-color: white;
  border: solid 2px var(--button-background-color);
  color: var(--button-background-color);
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 500;
}

.img-app {
  background-color: var(--header-background);
}

.about-box {
  padding: 120px 30px;
}

.about-box h1 {
  font-size: 64px;
  margin-top: 100px;
}

.about-box h2 {
  font-size: 18px;
  font-weight: 700;
}

.about-box p {
  font-size: 16px;
  font-weight: 400;
}

.title-header {
  font-size: 64px;
  margin: 150px 200px 100px 50px;
}

@media (max-width: 992px) {
  header h1 {
    font-size: 44px;
  }

  header {
    padding: 150px 20px;
  }
  .btn-apps {
    display: block;
    margin: 0 auto;
  }

  .about-box {
    text-align: center;
    padding: 50px 20px;
  }

  .about-box h1 {
    font-size: 44px;
  }

  .work-header h1 {
    font-size: 44px;
  }

  .photo-le {
    max-width: 70%;
  }
}
